/node_modules
/ui/node_modules
/ui/apps/*/dist
/ui/packages/*/dist
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*-dev.out.log
*-dev.err.log
/.idea
/.vscode
